@import '../styles/vars';
.header {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 2px 2px 0 #c7c7c7;
    p {
        color: $primary-blue;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;
}
.bb-container {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    height: calc(100vh - 90px);
}